<div class="conatiner">
  <div class="row cv-card">
    <div class="col-md-9 cv-info">
      <h2>
        <span style="color: #72ab1e; font-weight: bold; font-size: 40px"
          >CV</span
        >
      </h2>
      <p>
        <span style="color: #4f5359; font-size: 25px">Mohamed Soliman</span>
      </p>
      <section>
        <span><img src="../../assets/logo/google-maps.png" /></span>
        10 Mesaha Square, Dokki
      </section>
      <section>
        <span><img src="../../assets/logo/icons8-email-32.png" /></span>
        Email : masoliman28@gmail.com
      </section>
      <section>
        <span><img src="../../assets/logo/telephone.png" /></span>
        Phone : 01140111753
      </section>
      <section>
        <span><img src="../../assets/logo/GitHub-Mark-32px.png" /></span>
        GitHub :
        <a href="https://github.com/MohamedSolimann"
          >https://github.com/MohamedSolimann</a
        >
      </section>
      <section>
        <span
          ><img src="../../assets/logo/Screenshot from 2021-08-30 14-55-31.png"
        /></span>
        Linkdin :
        <a href=" https://www.linkedin.com/in/mohamed-soliman-4862a4122/"
          >https://www.linkedin.com/in/mohamed-soliman-4862a4122</a
        >
      </section>
    </div>
    <div class="col-md-3 cv-image">
      <img src="../../assets/images/Webp.net-resizeimage (1).jpg" alt="" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <section>
        <h3>Professional info :</h3>
        <p>
          Hi, I'm a Junior Front-end developer who loves building programs.I
          have the passion for learning to be from the best.
        </p>
      </section>
      <hr />
      <section>
        <h3>Courses :</h3>
        <ul>
          <li>
            FrontEnd Nano Degree from Udacity
            <a target="”_blank”" href="../../assets/images/nanodegree.pdf"
              >Link</a
            >
          </li>
          <li>
            JavaScript Algorithms and Data Structures Masterclass from Udemy
            <a
              target="_blank"
              href="../../assets/images/UC-35e2870d-de3a-4473-a798-bb8db8c20bf8.pdf"
              >Link</a
            >
          </li>
          <li>MEAN stack <a href=""></a></li>
        </ul>
      </section>
      <hr />
      <section>
        <h3 class="">Acheivments :</h3>
        <section>
          Ranking from the Top 160 at Problem Soliving at Hackerrank on Egypt
          <a
            href="https://www.hackerrank.com/leaderboard?filter=Egypt&filter_on=country&page=1&track=algorithms&type=practice"
            >Link</a
          >
        </section>
      </section>
    </div>
    <div class="col-md-3">
      <section>
        <section class="subheader">Languages :</section>
        <section>HTML</section>
        <section>CSS</section>
        <section>Javascript</section>
        <section>NodeJs</section>
        <section>Angular</section>
        <section>Mongodb</section>
        <section>Express</section>
        <section>Git/Github</section>
        <section>Jest</section>
        <section>Restful APIs</section>
      </section>
      <hr style="width: 50%" />
      <section>
        <section class="subheader1">Skills</section>
        <section>Problem Soliving</section>
        <section>Hard Worker</section>
        <section>Always leraning</section>
      </section>
    </div>
  </div>
</div>
