<div class="contanier">
  <div class="row subheader">
    <h1>Projects</h1>
    <p>
      All projects are made by myself, Some projects were throughout a course
      and others are not.
    </p>
  </div>

  <h3>Latest Projects</h3>
  <hr />
  <div class="row">
    <div class="col-md-2 project-title">E-Commerce</div>
    <div class="col-md-10">
      <p>
        This project is an E-Commerce Website using MEAN Stack ,Restful APIs ,MapBox ,AWS ,Lazy Loading ,Twilio (not
        a course project).
        <a href="https://boubacollection.com">Link</a>
      </p>
    </div>
    <hr>
    <div class="col-md-2 project-title">My Website</div>
    <div class="col-md-10">
      <p>
        This project is a Portofolio which i practice Angular and Bootstrap (not
        a course project).
        <a href="https://github.com/MohamedSolimann/myWebsite">Link</a>
      </p>
    </div>
    <hr />
    <div class="col-md-2 project-title">My Charts</div>
    <div class="col-md-10">
      <p>
        This is not really a project, where i practice some charts from chart.js library  (not a
        course project).
        <a href="https://github.com/MohamedSolimann/myCharts">Link</a>
      </p>
    </div>
    <hr>
    <div class="col-md-2 project-title">E-commerce web app(demo)</div>
    <div class="col-md-10">
      <p>
        This project is a Gaming E-Store which i practice MEAN stack (not a
        course project).
        <a href="https://github.com/MohamedSolimann/E-Gaming">Link</a>
      </p>
    </div>
    <hr />

    <div class="col-md-2 project-title">Rubik's Cube Timer</div>
    <div class="col-md-10">
      <p>
        This project is a Cube Timer which i practice Angular (not a course
        project).
        <a href="https://github.com/MohamedSolimann/Cube-Timer">Link</a>
      </p>
    </div>
    <hr />

    <div class="col-md-2 project-title">Classic Arcade</div>
    <div class="col-md-10">
      <p>
        This project is a Classic Arcade which i practice Javascript (A course
        project).
        <a href="https://github.com/MohamedSolimann/Aracade-Game">Link</a>
      </p>
    </div>
    <hr />

    <div class="col-md-2 project-title">Memory Game</div>
    <div class="col-md-10">
      <p>
        This project is a Memory Game which i practice Javascript (A course
        project).
        <a href="https://github.com/MohamedSolimann/Final-Memory-Game">Link</a>
      </p>
    </div>
    <hr />
  </div>
</div>
