<div class="container">
  <div class="row bio">
    <div class="col-md-4">
      <img
        class="profileImage"
        src="../../assets/images/Webp.net-resizeimage (1).jpg"
        alt=""
      />
    </div>
    <div class="col-md-4">
      <h1>HELLO,</h1>
      <h3>I'm avaiable for work.</h3>
      <p>
        Hi, I'm a Junior Front-end developer who loves building programs.I have
        the passion for learning to be from the best.
      </p>
      <button class="btn btn-success" [routerLink]="['/cv']">MY CV</button>
    </div>
    <div class="col-md-4">
      <p>
        <span style="font-size: 20px; color: #72ab00">Available for:</span>
      </p>

      <ul>
        <li>FronEtnd Developer</li>
        <li>BackEnd Developer</li>
        <li>FullStack Developer</li>
      </ul>

      <section><span class="info">Github: </span>link</section>
      <section><span class="info">Moblie: </span> 01140111753</section>
      <section><span class="info">Email: </span>masoliman28@gmail.com</section>
    </div>
  </div>
  <div class="row about">
    <div class="col-md-6">
      <span class="info" style="padding-bottom: 10px">FAVORITE QUOTE :</span>
      <p>
        Pain doesn't tell you when you ought to stop.Pain is the littel voice in
        your head that ries to hold you back beacuse it know if you continue you
        will change.
      </p>
    </div>
    <div class="col-md-6 vl">
      <span class="info">RECENT PROJECT :</span>
      <p>
        Developed rubik's cube timer with Angular and chat messenger with MEAN
        stack.
      </p>
    </div>
  </div>
</div>
